---
Name: nswdpc-search-typesense
---
SilverStripe\SiteConfig\SiteConfig:
  extensions:
    # global search instantsearch support
    - 'NSWDPC\Search\Typesense\Extensions\InstantSearchExtension'
NSWDPC\Search\Typesense\Models\InstantSearch:
  extensions:
    # scoped search support
    - 'NSWDPC\Search\Typesense\Extensions\ScopedSearchExtension'
